    img{
        border-radius: 10px;
    }
    h1{
        text-align: center;
        color:white;
    }
    p{
        display: block;
        width: 100%;
        font-size: x-large;
        text-align: center;
        margin-right: auto;
        margin-top: 60px;
        transition: 400ms;
    }
    p:hover{
        background-color: black;
        border-radius: 10px;
    }
    video{
        display: block;
        float: left;
        margin-left: 8px;
        border-radius: 10px;
        margin: auto;
    }
    h3{
        text-align: center;
        font-size: x-large;
        margin-top: 50px;
    }
    a{
        color: black;
        font-size: large;
    }
    button{
        display: inline-block;
        background-color: cyan;
        border-radius: 10px;border: none;
        box-shadow: 0 0 5px cyan , 0 0  30px cyan;
        margin-top: 10px;margin-left: 4px;
    }
    button:hover{
        box-shadow: 0 0 5px yellow , 0 0  30px yellow;
    }
    body{
        background-image: url(nara-deer.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    
    }
    #tail{
        height: 450px;
    }
    #scroller{
        overflow: hidden;
        backdrop-filter: blur(20px);background-color: rgba(0, 0, 0, 0.558);
        padding: 5px;
        border-radius: 10px;
        height: 3000px;
        width: 1000px;
        margin: auto;
        text-align: center;
    }
    *{
        color: white;
    }
    div{
        margin-top: 30px;
    }